#FunnelsMobile {

  #createFunnelsSection {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      margin: 0px 20px;
      background-color: blue;
      border: 0px;
      color: white;
      cursor: pointer;
      padding: 1vw 3vw;
      border-radius: 5px;
    }
  }

  #funnelContentContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .funnelContent {
      background-color: blue;
      min-width: 150px;
      width: 40vw;
      max-width: 250px;
      min-height: 50px;
      margin: 20px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 20px;
        margin-right: 20px;
      }

      p {
        color: white;
        font-family: Arial;
        margin-left: 20px;
        font-size: 12px;
      }
    }
  }
}

#FunnelsDesktop {
  height: 90vh;

  width: 93vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .funnelContent {
    cursor: pointer;
    background-color: blue;
    min-width: 200px;
    width: 40vw;
    max-width: 350px;
    min-height: 70px;
    height: 10vw;
    max-height: 130px;
    margin: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .funnelHeader {

      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        color: white;
        margin-left: 20px;
        font-family: Arial;
      }

      img {
        width: 25px;
        margin-right: 20px;
      }
    }

    .funnelBody {
      flex: 1;
      display: flex;
      align-items: center;

      p {
        color: white;
        margin-left: 20px;
        font-family: Arial;
      }
    }
  }
}